<div class="errors_explanation" id="errors_explanation">
    <% if @big_url.present? && @big_url.errors.any? %>
      <h2><%= t(:'errors.title') %>:</h2>
      <%@big_url.errors.messages.reject{|key, val| val.blank?}.each do |obj_name, messages| %>
          <%messages.each do  |message| %>
            <li class="itemize"><%= t(:"big_urls_table.columns.#{obj_name}") << ' ' << message %></li>
          <% end %>
      <% end %>
    <% end %>
</div>