<div class="link_notification" id="link_notification">
  <div class="flash_notification alert alert-success <%= " hide" if flash[:notice].blank? %>"
       id="flash_link_notification">
    <% if flash[:notice].present? %>
      <h3><%= t(:'notice.success_messge') %></h3>
        <li class="itemize"> <%= flash[:notice] %> </li>
    <% end %>
  </div>
</div>