// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main_form {
  margin-left: 20px;
}

.errors_explanation, .flash_notification {
  margin-bottom: 20px;
  margin-left: 20px;

  .itemize {
    margin: 5px;
    margin-left: 25px;
  }
}

.actions {
  margin: 10px;
}

.toggle_content {

}

tr.input_row {
  line-height: 30px;

  .label{
    width: 160px;
  }
}

input[type=text] {
  border-radius: 5px;
  padding: 3px;
  border-style: ridge;
}

.border_red {
  border-color: salmon;
  border-width: 4px;
}

.border_green {
  border-color: greenyellow;
  border-width: 4px;
}

input:focus {
  outline: 0;
}