// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main_form {
  margin: 20px;
  padding: 30px;
  padding-bottom: 20px;
}

.home_container {
  max-width: 830px;
  min-width: 650px;
  border: 5px;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.locale_link {
  float: right;
  position: relative;
  margin-left: 7px;
}

.head_menu {
  margin-right: 25px;
}

.errors_explanation, .flash_notification {
  margin: 20px;

  .itemize {
    margin: 5px;
    margin-left: 25px;
  }
}

.actions {
  margin: 10px;
}

.toggle_content {

}

tr.input_row {
  line-height: 30px;

  .check_button {
    display: inline-block;
    margin-left: 10px;
  }

  .simple_label {
    margin: 0px;
    cursor: default;
    display: inline-block;
    width: 170px;
  }

  // Fix check-button style for table cell
  #check_alias_btn {
    vertical-align: top;
    height: 28px
  }

  label {
    cursor: default;
  }
}

input[type=text] {
  border-radius: 5px;
  padding: 3px;
  border-style: ridge;
  background-color: white;
}

input:focus {
  outline: 0;
}

// Color for allias field border
.border_red {
  // TODO: fix style and remove !important
  background-color: salmon !important;
}

.border_green {
  // TODO: fix style and remove !important
  background-color: greenyellow !important;
}

// Simple class for hide unused div
.hidden {
  display: none
}